language: go
services:
  - docker
go:
- 1.13.x


script:
  - make deps
  - curl -LO https://storage.googleapis.com/container-diff/latest/container-diff-linux-amd64 && chmod +x container-diff-linux-amd64 && sudo mv container-diff-linux-amd64 /usr/bin/container-diff
  - LUET=$GOPATH/bin/luet make build-all create-repo

deploy:
    provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
    keep_history: false
    local-dir: build
    on:
      branch: master
